@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-commons: "TT Commons", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-commons: var(--font-commons);
  --font-gt-alpina: var(--font-gt-alpina);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-commons);
}
