@import "tailwindcss";

@theme inline {
  --color-white: #ffffff;
  --color-softWhite: #fafafa;
  --color-black: #1b2426;

  --color-orangeRed: #bf564d;
  --color-orangeRedHover: #a6433a;
  --color-orangeRedFocus: #59201b;

  --color-groenGrijs: #39494d;

  /* Should these colors also be the groenGrijs? Or do they have their own names? */
  --color-text1: #212121;
  --color-text2: #1e2526;

  --text-normal: 1.1875rem; /* 19px */
  --text-heading-2: 2.5rem; /* 40px */
  --text-heading-2-highlight: 2.625rem; /* 42px */
  --text-heading-4: 1.75rem; /* 28px */

  --text-mobile-normal: 1rem; /* 17px */
  --text-mobile-heading-2: 2rem; /* 36px */
  --text-mobile-heading-2-highlight: 2.1875rem; /* 38px */
  --text-mobile-heading-4: 1.375rem; /* 22px */

  --font-commons: var(--font-commons);
  --font-gt-alpina: var(--font-gt-alpina);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-commons);
}

.label {
  @apply text-sm text-groenGrijs;
}

p {
  @apply text-mobile-normal sm:text-normal;
}

h2 {
  @apply text-mobile-heading-2 sm:text-heading-2 font-bold text-text1 leading-12 tracking-[-0.03em];
}

h4 {
  @apply text-mobile-heading-4 sm:text-heading-4 font-semibold leading-8 tracking-[-0.02em];
}
