@import "tailwindcss";

@theme inline {
  --color-white: #fffcfa;
  --color-softWhite: #fafafa;
  --color-black: #1b2426;

  --color-orangeRed: #bf564d;
  --color-orangeRedHover: #a6433a;
  --color-orangeRedFocus: #59201b;

  --color-groenGrijs: #39494d;

  /* Should these colors also be the groenGrijs? Or do they have their own names? */
  --color-text1: #212121;
  --color-text2: #1e2526;

  --text-normal: 1.188rem; /* 19px */
  --text-heading-2: 2.5rem; /* 40px */
  --text-heading-2-highlight: 2.625rem; /* 42px */
  --text-heading-4: 1.75rem; /* 28px */

  --text-mobile-normal: 1.063rem; /* 17px */
  --text-mobile-heading-2: 2.25rem; /* 36px */
  --text-mobile-heading-2-highlight: 2.375rem; /* 38px */
  --text-mobile-heading-4: 1.375rem; /* 22px */

  --font-commons: var(--font-tt-commons);
  --font-gt-alpina: var(--font-gt-alpina);
}

body {
  @apply bg-white;
}

.label {
  @apply text-sm text-groenGrijs font-commons;
}

p {
  @apply text-mobile-normal sm:text-normal font-commons leading-6;
}

h2 {
  @apply text-mobile-heading-2 sm:text-heading-2 font-commons font-bold text-text1 sm:leading-12 leading-10 tracking-[-0.02em] sm:tracking-[-0.03em];
}

h4 {
  @apply text-mobile-heading-4 sm:text-heading-4 font-commons font-semibold leading-6 sm:leading-8 tracking-[-0.01em] sm:tracking-[-0.02em];
}
