@import "tailwindcss";

@theme inline {
  --color-white: #ffffff;
  --color-softWhite: #fafafa;
  --color-black: #1b2426;

  --color-orangeRed: #bf564d;
  --color-groenGrijs: #39494d;

  /* Should these colors also be the groenGrijs? Or do they have their own names? */
  --color-text1: #212121;
  --color-text2: #1e2526;

  --text-normal: 19px;
  --text-heading-2: 2.5rem;

  --font-commons: var(--font-commons);
  --font-gt-alpina: var(--font-gt-alpina);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-commons);
}

.label {
  @apply text-sm text-groenGrijs;
}

p {
  @apply text-normal text-text2;
}

h2 {
  @apply text-heading-2 font-bold text-text1 leading-12 tracking-[-0.03em];
}
